<!DOCTYPE html>
<html>
<head>
  <title>WorkSheet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
     div#log_out{float:right;}
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
